/* NewFormSignUp.css */
.background {
  background-color: black;
  height: 97vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.form-container {
  position: relative;
  padding-bottom: 6px;
  height: 735px;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-color: #000000; /* Gray background color for the form container */

  border-radius: 8px; 
  overflow: hidden; /* Hide the overflow from ::before pseudo-element */
}



/* .form-container::before {
   box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  content: "";
  position: absolute;
  width: 50%; /* Cover the left half of the container */
  /* height: 100%; */
  /* background: rgba(128, 128, 128, 0.5);  Grey square color */
  /* left: 25%; */
  /* top: 0; */
  /* z-index: 1; Place it above the image */
  /* backdrop-filter: blur(50px);
}  */

.form-setup {
  display: flex;
  flex-direction: column;
  align-items: center;
 border-radius: 5px;

  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 41%;
  height: 1000px;
  right: 30%;
  background: rgb(0, 0, 0);
  z-index: 1;
  transition: background-color 0.3s; /* Add a transition for the background color change */
  transition: background 0.6s ease-out;
  font-family: 'Antonio', sans-serif;
}



.logo__title{



  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 25%;
  width: 100%;
  color: azure;
  font-size: 40px;
  background-color: black;
  border-radius: 8px;
}
.logo__title h2{
  /* Animation */
animation-name: slideInLeft;
animation-duration: 0.9s;
font-size: 80px;
}
.logo_sign{
animation-name: slideInLeft;
animation-duration: 0.9s;


/* Border styles */
border: 1px blue solid;
border-radius: 4px;
border-color: bisque;
border: 1px;

  font-family: 'Pixelify Sans', sans-serif;
  width: auto;
   background: linear-gradient(45deg, #4ecdc4, #5562c3, #ff6b6b);
  -webkit-background-clip: text; /* For webkit browsers to clip the text */
  background-clip: text;
  -webkit-text-fill-color: transparent; /* Hide text color to show gradient */
}

.form__info{
  animation-name: slideInLeft;
animation-duration: 0.9s;
  
 width: 50%;
  display: flex;
  flex-direction: column;
  color: aliceblue;
 
}

@keyframes slideInLeft {

  from{transform: translatex(-300px);}
  

  to{transform: translatex(0)}
}

/* .footer{
  width: 100%;
  background-color: rgba(250, 177, 87, 0.514);
  height: 60px;
  border: #000000 2px solid;
  
} */


/* Designing the input fields (Where the user writes) */

.input__field {
    position: relative;
    text-decoration: none;
    background-color: #000000;
    border: none; /* Remove the border */
     outline: none;
     border-bottom: 1px solid transparent;
     border-image: linear-gradient(45deg, #4ecdc4, #5562c3, #ff6b6b) 1;
}


.input__text{
  font-size: 27px;
  margin-top: 8px;
}

/* This is the subbmit button uwu */
.submit_button{
  font-weight: bold;
  background-color: aliceblue;
  padding: 3px;
  width: 50%;
  align-self: center;
  margin-top: 20px;
  border-radius: 5px;
  color: #000000;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.submit_button:hover{
  background-color: #000000;
  color: aliceblue;
  margin-top: 25px;
}
.input__field__signUp{
  font-size: 20px;
}
