/* CSS file for your component */

/* Define CSS classes for each status */

/* @keyframes borderAnimation {
  0% {
    box-shadow: 5px 5px 14px #ff6b6b;
  }
  33% {
    box-shadow: 5px 0px 14px #5562c3;
  }
  66% {
    box-shadow: 5px 0px 14px #4ecdc4;
  }
  100% {
    box-shadow: 5px 0px 14px #ff6b6b;
  }
} */

@keyframes slideInLeft {

  from{transform: translatex(-300px);}
  

  to{transform: translatex(0)}
}

.container-profile {
   margin-top: 10px;
   position: relative;
  display: flex;
  align-items: start;
  justify-content: center;
  height: 100vh;
  width: 80%;
 animation-name: slideInLeft;
animation-duration: 0.9s;
}

.profile_info {
   position: absolute;
  height: 60%;
  width: 97%;
background-size: cover;
  background-position: center;
  border-radius: 15px;
  overflow: hidden;
}

.blurred-content {

      position: absolute;
      height: 100%;
      width: 100%;
      filter: blur(12px);
      backdrop-filter: blur(12px);
      background: rgba(255, 255, 255, 0.171);
      border-radius: 15px;
      transition: all 0.2s ease-in-out;
}
.text-content {
  position: absolute;
  width: 100%;
  display: flex;
  font-family: 'Antonio', sans-serif;
  font-size: 30px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #000; /* Adjust the color for better visibility */
}
.content_profile{
   color: white;
   flex:1
}






/* Add more classes for other statuses as needed */