/* .header{
 width: 100vw;
 overflow: hidden;
}
.container{
 width: full;
   display: flex;
   background-color: rgba(23, 23, 116, 0.521);
}
.header--logo{
flex: 1;
display: flex;
position: relative;
}
.header--menu{

} */

@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-30px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}



@property --color-1 {
  syntax: "<color>";
  inherits: true;
  initial-value: #5562c3;
}
@property --color-2 {
  syntax: "<color>";
  inherits: true;
  initial-value: #5562c3;
}
@property --color-3 {
  syntax: "<color>";
  inherits: true;
  initial-value: #5562c3;
}


/* style--nav.css */
.header {
  background-color: #000000;
  backdrop-filter: blur(100px);
  color: #fff;
  height: 80px;
  padding: 20px 0; /* Adjust the radius as needed */
  /* border-bottom-left-radius: 20px; 
 
  border-bottom-right-radius: 20px;  */
  width: 100%;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.096); /* Add a subtle shadow */
}
.fade-down{
animation: fade-down 0.5s;
}

.container {
  
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.header_logo {
  flex: 1;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Pixelify Sans', sans-serif;
   letter-spacing: 2px;
  text-transform: uppercase;
  /* background: linear-gradient(45deg, #4ecdc4, #5562c3, #ff6b6b);
  -webkit-background-clip: text;  */
  /* For webkit browsers to clip the text */
  /* background-clip: text;
  -webkit-text-fill-color: transparent; */
   /* Hide text color to show gradient */
}
  /* transition: transform 0.3s ease-in; */
/* }
.header_logo:hover{
 transform: translateY(-4px);
} */

.header__menu {
  flex: 1;
  list-style: none;
  display: flex;
  justify-content: space-between;
  gap: 100px;
}

.header__menu li {
 text-transform: uppercase;
 position: relative; /* Add this line */
  /* margin-right: 30px; */
  font-family: 'Antonio', sans-serif;
  font-size: 20px;
  transition: color 0.2s ease-in-out;
}
.header__menu li:hover {
  color: rgba(240, 243, 243, 0.466);
}

.header__menu li::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px; /* Adjust the thickness of the border as needed */
  background-color: rgba(240, 243, 243, 0.466); /* Initial border color */
  transition: width 0.3s ease-in-out; /* Add a smooth transition for the width */
}

.header__menu li:hover::before {
  width: 100%; /* Expand the border to 100% on hover */
}

.header-menu a {
  color: #fff;
  text-decoration: none;
  font-family: 'Antonio', sans-serif;
}

.header__info {
  flex: 1;
  list-style: none;
  display: flex;
  align-items: center;
justify-content: end;
  gap: 20px;
  font-family: 'Antonio', sans-serif;
  font-size: 20px;
  font-weight: 300;
}


.header__info li a{
  display: block;
  /* color: #fff; */
  padding: 6px;
  text-decoration: none;
  /* transition: color 0.3s ease-in-out; */
  /* border: 2px solid red; */
  /* transition: background-color 0.4s ease-in-out; */
  
}
.button__out{
   display: block;
  /* color: #fff; */
  padding: 6px;
  text-decoration: none;
}


.Sign__Up{
  
  display: block;
  color: #fff;
  /* border: 2px solid #ffffff; */
  border-radius: 8px;
  background-image: 
  linear-gradient( 90deg, var(--color-1), var(--color-2), var(--color-3));
  transition: --color-1 0.8s,--color-2 0.8s,--color-3 0.8s, padding 0.3s, color 0.3s;
}
.Sign__Up:hover{
  --color-1: #ff6b6b;
  --color-2:#5562c3;
  --color-3:#4ecdc4;
  padding: 2px;
  color: #000000;
  font-weight: bolder;
  /* linear-gradient(, ); */
  /* border-color: #4ecdc4; */
  box-shadow: #fff;
  /* 135deg, #ff9900, #ff3366 */
  /* color: #000000; */
}
.logo{
  width: 108px;
   background: linear-gradient(45deg, #4ecdc4, #5562c3, #ff6b6b);
  -webkit-background-clip: text; /* For webkit browsers to clip the text */
  background-clip: text;
  -webkit-text-fill-color: transparent; /* Hide text color to show gradient */
  cursor: pointer
}
.Log__In{
  color: #FFF;
 position: relative; /* Add this line */
  /* margin-right: 30px; */
  font-family: 'Antonio', sans-serif;
  font-size: 20px;
  transition: color 0.3s ease-in-out;
}
.Log__In:hover {
  color: rgba(240, 243, 243, 0.466);
}
.Log__In::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px; /* Adjust the thickness of the border as needed */
  background-color: rgba(240, 243, 243, 0.466); /* Initial border color */
  transition: width 0.3s ease-in-out; /* Add a smooth transition for the width */
}

.Log__In:hover::before {
  width: 100%; /* Expand the border to 100% on hover */
}


/* li{
 transition: color 0.2s;
}
li:hover{
 color: rgba(240, 243, 243, 0.466);
} */

